@CHARSET "UTF-8";

/* Print stylesheet - edit this and minify using minify-css.php */

/* objects and classes to hide because they are not relevant on a printed page */

#serverselect,
#quicksearch,
#rightbuttons,
#navigation,
#devinfo,
#advancedsearch,
INPUT {
	display: none;
}

/* simplify borders and backgrounds */

BODY {
	background: white;
	margin: 0px;
}

#frame {
	border: 0;
	background: none;
}

H1 {
	text-shadow: none;
}
